<header class="w-full max-w-7xl mx-auto flex items-center justify-between p-4">
  <a href="/" class="flex items-center gap-2">
    <img
      src="/heartbeat.png"
      alt="logo"
      class="h-12 w-12"
    />
    <p class="capitalize">blog</p>
  </a>
  <ul class="flex items-center gap-4">
      <li><a href="/" class="text-xl font-medium text-slate-900 hover:text-slate-500 transition-all duration-300">Home</a></li>
      <li><a href="/about" class="text-xl font-medium text-slate-900 hover:text-slate-500 transition-all duration-300">About</a></li>
      <li><a href="/blog" class="text-xl font-medium text-slate-900 hover:text-slate-500 transition-all duration-300">Blog</a></li>
  </ul>
</header>
